@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    overflow-x: hidden;
    font-family: "Source Sans 3", sans-serif;
}

:root {
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
    --color-font: #ffb800;
    --text-background: #fcccbe;
}

/*nav-menu*/
nav{
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #000000;
}

  
  .logo {
    gap: 10px;
  }
  
  .location {
    font-size: 18px;
  }
  
  span {
    color: #fff;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  p {
    color: #fff;
    padding-left: 5px;
  }
  
  .location select {
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #000000;
    border: none;
    padding: 5px 10px;
  }
  
  .location select option {
    background-color: #000000;
    color: #fff;
  }
  
  .buttons {
    margin-right: 30px;
  }
  
  .buttons input {
    margin-right: 10px;
    color: #fff;
    padding: 10px;
    width: 80px;
    background: transparent;
    border: none;
    margin-right: 50px;
  }
  
  .buttons input::placeholder {
    font-size: 13px;
    color: #fff;
    align-items: center;
  }
  
  .login-btn {
    width: 60px;
    padding: 10px;
    background: transparent;
    font-size: 16px;
    color: #fbce2c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: scale 0.1s ease;
  }
  
  .login-btn:hover {
    transform: scale(0.8);
    background-color: #2a2823;
  }
.suggest{
  flex-direction: column;
  position: relative;
}
  #suggestions {
    font-weight: bold;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
    background-color:#fff; 
    border-radius: 5px;
    z-index: 999; 
    display: none; 
}

.suggestion {
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
}

.suggestion:hover {
    background-color: #f1f1f1;
}

  /*landing page*/
  .landing-page{
    width: 100%;
    background-color: #fbce2c;
  }

  /*sliding images*/


.slideshow-container {
  max-width: 1496px;
  height: 430px;
  position: relative;
  margin: auto;
  margin-top: 15px;
}


.mySlides {
  display: none;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color:black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #ffffff;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.mySlides {
    display: none;
    animation: slideFromRight 0.4s ease ;
}
.mySlides:not(:first-child) {
    display: none;
}
@keyframes  slideFromRight{
   
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
    
}


  /*Work*/
  .work {
    margin-top: 18px;
    width: 100%;
    height: 500px;
    background-color: #ffd9c9;
    justify-content: center;
    text-align: center;
    position: relative;
  }
  
  .work h1 {
    top: 15%;
    left: 40%;
    position: absolute;
    font-size: 43px;
    color: #f17228;
  }
  
  h2 {
    color: #434343;
    font-size: 22px;
  }
  
  p {
    color: #9e9e9e;
    font-size: 18px;
  }
  
  .guide {
    position: absolute;
    justify-content: space-between;
    top: 35%;
    left: 8%;
    padding: 0px 50px;
    gap: 30px;
  }
  
  .guide .container {
    width: 307px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  /*product*/
  .products{
    justify-content: center;
    margin-top: 80px;
}

.products h3{
    color: #424242;
    font-size: 22px;
    font-weight: bold;
}

.products p{
    width: 204px;
    height: 38px;
    background-color: #fcccbe;
    border-radius: 8px;
    margin-top: 5px;
    position: relative;
}

.products p{
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin-top: 2px;
    color: #f17228;
    position: absolute;
    margin-top: 6px;
}
.product p span{
  margin-top: 5px;
}

/*features*/
.features{
    width: 100%;
    margin-top: 80px;
    background-color: #ffd9c9;
    display: grid;
    justify-content: center;
    align-items: center;
}

.features .inner-feature{
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

/*deals*/

.deals{
     margin-top: 80px;
}
.deals1{
    background-image:url(deals1.svg) ;
    background-size: 1480px;
    background-repeat: no-repeat;
    height: 552px;
    background-position: center;
}
.deals2{
    background-image:url(deals2.svg) ;
    background-size: 1480px;
    background-repeat: no-repeat;
    height: 552px;
    background-position: center;
}
.deals3{
    background-image:url(deals3.svg) ;
    background-size: 1480px;
    background-repeat: no-repeat;
    height: 552px;
    background-position: center;
}

.deals button{
    width: 407px;
    height: 60px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffb800;
    color: #fff;
    margin-top: 23%;
    margin-left: 120px;
}

.deals button:hover{
    background-color: #ff8a00;
}

/*final*/
.final{
    background-image: url(Group\ 3.svg);
    background-position: center;
    background-size: 1920px;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
}

.final button{
    width: 233px;
    height: 60px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background-color: #f17228;
    color: #fff;
    font-weight: bold;
    margin-top: 20%;
    
}

.final button:hover{
    background-color: #F15E28;
}

/*footer*/
.footer{
    width: 1922px;
    height: 900px;
    background-color: #212121;
    margin-top: -3.8px;
    color:#fff;
    position: relative;
}


.footer .footer-cities{
    text-align: start;
    position: absolute;
    margin-left: 10%;
    top: 120px;
    font-size: 22px;
    font-weight: bold;
    
}

.footer .cities{
    position: absolute;
    justify-content: space-between;
    gap: 300px;
    margin-left: 10%;
    top: 150px;
    
}

.footer .cities .column ul li{
    list-style-type:none;
    margin-top: 10px;
    font-size: 18px;
    color: #f5f5f5;
}

hr{
    width: 65%;
    position: absolute;
    color: #fff;
    size: 5px solid ;
    margin-top: 400px;
    margin-left: 180px;
    justify-content: center;

}

.footer .information{
    position: absolute;
    top: 500px;
    margin-left: 10%;
    gap: 100px;
}

.footer .information .sub-heading{
    font-size: 22px;
    font-weight: bold;
}

.footer .information ul li ,
.footer .information ul li a{
    list-style-type:none;
    margin-top: 10px;
    font-size: 18px;
    color: #f5f5f5;
    text-decoration: none;
}

.footer .information .contact{
    margin-bottom: 28px;
}

.footer .information .support{
    position: absolute;
    left: 143%;
    top: 8%;
}
.footer .information .support h6{
    font-size: 18px;
    color: #f5f5f5;
    margin-bottom: 40px;
}

.footer .information .support .accounts a i{
    width: 21px;
    height: 24px;
    color: #f5f5f5;
    margin-right: 10px;
    margin-bottom: 40px;
}

.footer .information .support h5{
    color: #555555;
    font-size: 18px;
    margin-bottom: 30px;
}
.footer .information .support .mail img{
    width: 24px;
    height: 34px;
    position: absolute;
    z-index: 2;
    margin-left: 8px;
}
.footer .information .support .mail input{
    width: calc(100%-50px);
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: #424242;
    color: #fff;
    position: relative;
    padding-left: 50px; 
    font-size: 18px;
    
}

.footer .information .support .mail input::placeholder{
    position: absolute;
    font-size: 18px;
}

.footer .information .support .mail button{
    width: 133px;
    height: 60px;
    border-radius: 8px;
    border: none;
    background-color: #ffb800;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    box-shadow: 3px 3px 10px var(--color-font);
    cursor: pointer;
    transition: 2s ease-out;
}

.footer .information .support .mail button:hover{
    transform: scale(1.05);
}

.footer .line {
    width: 65%;
    position: absolute;
    color: #fff;
    size: 5px solid ;
    margin-top: 850px;
    margin-left: 180px;
    justify-content: center;
}

.footer .copy-right{
    position: absolute;
    margin-top: 858px;
    margin-left:180px;
    font-size: 15px;
    color:#adadad
}

.footer .copy-right p img {
    margin-left:8px;
}

.footer .copy-right .owner{
    margin-left:990px;
}

.footer .copy-right .owner span{
    color: #fff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent; 
    border-radius: 6px; 
  }
  